# Unity standard ignores
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# OS / Editor
.vs/
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.pidb
*.sdf
*.pdb
*.opendb

# Unity packages cache
/Library/PackageCache/

# Archives
*.zip
*.unitypackage